.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:active {
  text-decoration: none;
  color: inherit;
}


