body {
  width: inherit !important;
}

.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.no-link-decoration:active {
  text-decoration: none;
  color: inherit;
}

.panel {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.5rem;
}


.sidebar-toggle {
  padding: 10px;
  position: static;
  top: 0;
  left: 0;
}

aside {
  min-width: 200px;
}

main {
  flex: 1;
}

.hidden {
  display: none;
}

.root {
  display: flex;
  flex-direction: row;
}